:root {
  --color-accent-0: 230, 228, 221;
  --color-accent-10: 235, 193, 188;
  --color-accent-20: 240, 158, 154;
  --color-accent-30: 245, 124, 121;
  --color-accent-40: 250, 89, 87;
  --color-accent-50: 255, 54, 54;
  --color-accent-60: 210, 49, 49;
  --color-accent-70: 164, 44, 44;
  --color-accent-80: 119, 38, 38;
  --color-accent-90: 73, 33, 33;
  --color-accent-98: 37, 29, 29;
  --color-accent-100: 28, 28, 28;
  --color-principale-0: 230, 228, 221;
  --color-principale-10: 230, 228, 221;
  --color-principale-20: 230, 228, 221;
  --color-principale-30: 230, 228, 221;
  --color-principale-40: 230, 228, 221;
  --color-principale-50: 230, 228, 221;
  --color-principale-60: 190, 188, 182;
  --color-principale-70: 149, 148, 144;
  --color-principale-80: 109, 108, 105;
  --color-principale-90: 68, 68, 67;
  --color-principale-98: 36, 36, 36;
  --color-principale-100: 28, 28, 28;
  --color-back-0: 230, 228, 221;
  --color-back-10: 190, 188, 182;
  --color-back-20: 149, 148, 144;
  --color-back-30: 109, 108, 105;
  --color-back-40: 68, 68, 67;
  --color-back-50: 28, 28, 28;
  --color-back-60: 28, 28, 28;
  --color-back-70: 28, 28, 28;
  --color-back-80: 28, 28, 28;
  --color-back-90: 28, 28, 28;
  --color-back-98: 28, 28, 28;
  --color-back-100: 28, 28, 28;
  --color-dark-50: 13, 13, 13;
}

* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  border: none;
  vertical-align: middle;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

th {
  font-weight: normal;
  text-align: left;
}

[role="button"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  width: auto;
  line-height: normal;
  overflow: visible;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  outline: none;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --vh:    1vh;
  --m:     12;
  --hh:    calc(var(--m) * 4px);
  --mh:    calc(var(--m) * 2px);
  --mt:    calc(var(--m) * 2px);
  --mb:    calc(var(--m) * 2px);
  --wa:    calc(var(--m) * 30px);
}

@font-face {
  font-family: "NimbusSans";
  src: local("NimbusSans"), url("./assets/fonts/nimbus/nimbus.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NimbusSans";
  src: local("NimbusSans"), url("./assets/fonts/nimbus/nimbus-italic.ttf") format("truetype");
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "NimbusSans";
  src: local("NimbusSans"), url("./assets/fonts/nimbus/nimbus-bold.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "NimbusSans";
  src: local("NimbusSans"), url("./assets/fonts/nimbus/nimbus-bold-italic.ttf") format("truetype");
  font-stretch: normal;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Redaction";
  src: local("Redaction"), url("./assets/fonts/redaction/redaction-35.woff2") format("woff2");
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Redaction";
  src: local("Redaction"), url("./assets/fonts/redaction/redaction-35-italic.woff2") format("woff2");
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Redaction";
  src: local("Redaction"), url("./assets/fonts/redaction/redaction-35-bold.woff2") format("woff2");
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}

::selection {
  background-color: rgba(var(--color-dark-50), 0.98) !important;
  color: #E6E4DD;
}

html {
  overflow-y: scroll;
}

body {
  background: rgb(var(--color-back-50));
}

html.overflow--is--hidden, body.overflow--is--hidden {
  overflow: hidden;
}

main {
  float: left;
  width: 100%;
  margin-top: var(--hh);
  padding-left: var(--hh);
}

svg {
  fill: rgb(var(--color-accent-50));
}

* {
  font-family: "Redaction", Georgia, serif;
  color: rgb(var(--color-principale-50));
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-size: calc(var(--m) * 2px);
  line-height: calc(var(--m) * 3px);
}

p {
  font-size: calc(var(--m) * 1px);
  line-height: calc(var(--m) * 1.5px);
  padding: 10px 0;
}

p a {
  cursor: pointer;
}

p a:link, p a:visited {
  font-weight: 200;
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px 0 0 rgba(var(--color-accent-50), 0);
  transition: all 0.8s;
}

p a:hover {
  color: rgb(var(--color-accent-50));
  padding-bottom: 3px;
  box-shadow: 0 1px 0 0 rgba(var(--color-accent-50), 0.2);
  transition: all 0.8s;
}

.liste__de__lien a:nth-last-of-type(n+3)::after {
  content: ', ';
}

.liste__de__lien a:last-of-type::before {
  content: ' & ';
}

.liste__de__lien a:first-of-type::before {
  content: '';
}

strong, strong * {
  font-weight: 800;
}

em, em * {
  font-style: italic;
}

.display13, .display13 * {
  font-size: calc(var(--m) * 5px);
  line-height: calc(var(--m) * 5px);
}

.display9, .display9 * {
  font-size: calc(var(--m) * 4px);
  line-height: calc(var(--m) * 4px);
}

.display1, .display1 * {
  font-size: calc(var(--m) * 2px);
  line-height: calc(var(--m) * 2px);
}

.subtitle, .subtitle * {
  font-size: calc(var(--m) * 1.75px);
  line-height: calc(var(--m) * 2px);
}

.lead_para, .lead_para * {
  font-size: calc(var(--m) * 1.5px);
  line-height: calc(var(--m) * 2px);
}

.body, .body * {
  font-size: calc(var(--m) * 1.25px);
  line-height: calc(var(--m) * 1.5px);
}

.caption, .caption * {
  font-size: calc(var(--m) * 1px);
  line-height: calc(var(--m) * 1.5px);
}

.tiny, .tiny * {
  font-size: calc(var(--m) * 0.75px);
  line-height: calc(var(--m) * 1px);
}

.m-accordion {
  display: flex;
  flex-direction: column !important;
  width: 100%;
}

.m-accordion.is--active .m-accordion__ico {
  transform: rotate(0deg);
  transition: transform .5s;
}

.m-accordion.is--active .m-accordion__wrapper {
  opacity: 1;
  max-height: 1000vh;
  padding-bottom: var(--mb);
  transition: 0.2s;
}

.m-accordion__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid rgb(var(--color-accent-90));
  padding-bottom: calc(var(--m) * 1px);
  margin-bottom: calc(var(--m) * 1px);
}

.m-accordion__titre span {
  font-family: "NimbusSans", Helvetica, sans-serif;
  color: rgb(var(--color-accent-70));
}

.m-accordion__ico {
  margin-left: auto;
  transform: rotate(-90deg);
  width: calc(var(--m) * 1px);
  transition: .5s;
}

.m-accordion__ico svg {
  fill: none;
  stroke: rgb(var(--color-accent-80));
  stroke-width: calc(var(--m) * 1px);
}

.m-accordion__wrapper {
  display: flex;
  max-height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: calc(var(--m) * 0.5px);
  height: calc(var(--m) * 0.5px);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-accent-50));
  border: calc(var(--m) * 0.2px) solid rgb(var(--color-back-50));
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-principale-50));
}

.toolbar {
  width: 100%;
}

.toolbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--hh);
  padding: 0 calc(var(--m) * 2px);
}

.toolbar__container input[list="statut"] {
  width: calc(var(--m) * 15px);
}

.m-overlay {
  opacity: 0;
  position: fixed !important;
  pointer-events: none;
  background: rgba(var(--color-back-50), 0.95);
  transition: .5s;
  z-index: 700;
}

.m-overlay.is--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transition: .5s;
}

.m-btn__grp > .btn:not(:first-child) {
  margin-left: calc(var(--m) * 1px);
}

.btn {
  display: inline-block;
  float: left;
  height: calc(var(--m) * 4px);
  padding: calc(var(--m) * 1px) calc(var(--m) * 3px);
  font-size: calc(var(--m) * 1.25px);
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  border-radius: calc(var(--m) * 3px);
  transition: 0.6s;
}

@media (hover) {
  .btn:hover {
    text-decoration: none;
    background: rgb(var(--color-accent-50));
    border-radius: calc(var(--m) * 1.5px);
    transition: 0.2s;
  }
}

.btn__plain {
  color: rgb(var(--color-back-50));
  background: rgb(var(--color-accent-50));
  border: 1px solid rgb(var(--color-accent-50));
}

.btn__outline {
  color: rgb(var(--color-accent-80));
  border: 1px solid rgb(var(--color-accent-80));
  background: rgb(var(--color-back-50));
}

.btn__outline svg {
  fill: rgb(var(--color-accent-80));
}

@media (hover) {
  .btn__outline:hover {
    background: rgb(var(--color-accent-98));
    color: rgb(var(--color-accent-50));
    transition: 0.2s;
  }
  .btn__outline:hover svg {
    fill: rgb(var(--color-accent-50));
    transition: 0.2s;
  }
}

.btn__ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--m) * 4px);
  padding: calc(var(--m) * 1px);
}

.btn__ico svg {
  width: auto;
  height: calc(var(--m) * 1.5px);
  transition: 0.6s;
}

.btn__ico-label {
  transition: 0.6s;
}

.btn__ico-label:has(+ .btn__ico:hover) {
  color: rgb(var(--color-accent-50));
  transition: 0.2s;
}

.btn__big {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: calc(var(--m) * 1px);
  border: calc(var(--m) * 1px) solid;
  border-image: url("./assets/img/border-image.svg");
  border-image-slice: 25%;
}

@media (hover) {
  .btn__big:hover {
    border-radius: 0;
    transition: 0.2s;
  }
}

.btn__big-txt {
  padding: 0 calc(var(--m) * 2px);
}

.btn__big-txt * {
  display: block;
  width: 100%;
}

.btn__big-txt .display1 {
  font-family: "NimbusSans", Helvetica, sans-serif;
  color: rgb(var(--color-back-50));
}

.btn__big-txt .lead_para {
  color: rgb(var(--color-accent-80));
  font-style: italic;
}

.btn__big-ico svg {
  width: calc(var(--m) * 4.5px);
  fill: rgb(var(--color-back-50));
}

.m-aside {
  position: sticky;
  float: left;
  width: var(--wa);
  top: var(--hh);
  min-height: calc( var(--vh, 1vh) * 100 - var(--hh));
  padding: calc(var(--m) * 3px) calc(var(--m) * 2px) !important;
  background: rgb(var(--color-back-50));
  border-right: 1px solid rgb(var(--color-accent-90));
}

.m-aside > * {
  width: 100%;
  margin-bottom: calc(var(--m) * 2px);
}

.m-aside h1 {
  color: rgb(var(--color-accent-50));
}

.m-img__full {
  position: relative;
  width: 100%;
  height: 100%;
}

.m-img__ratio-1-1 {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.m-img__wrapper {
  overflow: hidden;
}

.m-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-modal {
  display: none;
  position: fixed;
  width: 50vw;
  min-height: 33vh;
  top: 50%;
  left: 50%;
  background: rgb(var(--color-back-50));
  transform: translate(-50%, -50%);
  transition: 0.6s;
  z-index: 900;
  box-shadow: 0 calc(var(--m) * 5px) calc(var(--m) * 5px) 0 rgba(var(--color-dark-50), 0.75);
}

.m-modal.is--active {
  display: flex;
}

.m-modal__wrapper {
  flex: 1 1 auto;
  padding: calc(var(--m) * 5px);
}

.m-modal__denko {
  position: relative;
  flex: 0 0 auto;
  width: calc(var(--m) * 10px);
  background: rgb(var(--color-accent-50));
  overflow: hidden;
}

.m-modal__denko .is--denko__container {
  position: absolute;
  top: 100%;
  width: 100vh;
  height: calc(var(--m) * 9px);
  display: block;
  transform: rotate(-90deg);
  transform-origin: top left;
}

.m-modal__add-projet .m-form__equipe {
  display: none;
}

.badge {
  font-size: calc(var(--m) * 1px);
  padding: calc(var(--m) * 0.5px) calc(var(--m) * 1px);
  margin: calc(var(--m) * 1px);
  top: 0;
  background: rgb(var(--color-principale-50));
  border-radius: calc(var(--m) * 3px);
  font-family: "NimbusSans", Helvetica, sans-serif !important;
  color: rgb(var(--color-back-50));
  font-style: normal;
  font-weight: 600;
  letter-spacing: -1px;
}

.m-table {
  width: 100%;
}

.m-table tr {
  cursor: pointer;
}

@media (hover) {
  .m-table tr:hover td {
    z-index: 100;
    padding: calc(var(--m) * 1px) calc(var(--m) * 0.5px);
    transition: all .3s;
  }
}

.m-table th, .m-table td {
  text-align: left;
  padding: calc(var(--m) * 0.5px) calc(var(--m) * 0.5px);
  border-right: 1px solid rgb(var(--color-back-50));
  transition: all .3s;
}

.m-table td {
  color: rgb(var(--color-accent-50));
}

.m-table th, .m-table .tablesorter-header-inner {
  font-style: italic;
  color: rgb(var(--color-back-50));
}

.m-table tbody tr:nth-child(2n),
.m-table thead tr {
  background: rgb(var(--color-accent-50));
}

.m-table tbody tr:nth-child(2n) td,
.m-table thead tr td {
  color: rgb(var(--color-back-50));
}

.row {
  float: left;
  width: 100%;
  padding: var(--mt) var(--mh) var(--mb) var(--mh);
}

.row.with--aside {
  float: right;
  width: calc(100% - var(--wa));
}

.col {
  width: 100%;
  float: left;
  padding: calc(var(--m) * 0.5px);
}

@media screen and (min-width: 0px) {
  .xxs1 {
    width: 8.33333%;
  }
  .xxs2 {
    width: 16.66667%;
  }
  .xxs3 {
    width: 25%;
  }
  .xxs4 {
    width: 33.33333%;
  }
  .xxs5 {
    width: 41.66667%;
  }
  .xxs6 {
    width: 50%;
  }
  .xxs7 {
    width: 58.33333%;
  }
  .xxs8 {
    width: 66.66667%;
  }
  .xxs9 {
    width: 75%;
  }
  .xxs10 {
    width: 83.33333%;
  }
  .xxs11 {
    width: 91.66667%;
  }
  .xxs12 {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .xs1 {
    width: 8.33333%;
  }
  .xs2 {
    width: 16.66667%;
  }
  .xs3 {
    width: 25%;
  }
  .xs4 {
    width: 33.33333%;
  }
  .xs5 {
    width: 41.66667%;
  }
  .xs6 {
    width: 50%;
  }
  .xs7 {
    width: 58.33333%;
  }
  .xs8 {
    width: 66.66667%;
  }
  .xs9 {
    width: 75%;
  }
  .xs10 {
    width: 83.33333%;
  }
  .xs11 {
    width: 91.66667%;
  }
  .xs12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .s1 {
    width: 8.33333%;
  }
  .s2 {
    width: 16.66667%;
  }
  .s3 {
    width: 25%;
  }
  .s4 {
    width: 33.33333%;
  }
  .s5 {
    width: 41.66667%;
  }
  .s6 {
    width: 50%;
  }
  .s7 {
    width: 58.33333%;
  }
  .s8 {
    width: 66.66667%;
  }
  .s9 {
    width: 75%;
  }
  .s10 {
    width: 83.33333%;
  }
  .s11 {
    width: 91.66667%;
  }
  .s12 {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .m1 {
    width: 8.33333%;
  }
  .m2 {
    width: 16.66667%;
  }
  .m3 {
    width: 25%;
  }
  .m4 {
    width: 33.33333%;
  }
  .m5 {
    width: 41.66667%;
  }
  .m6 {
    width: 50%;
  }
  .m7 {
    width: 58.33333%;
  }
  .m8 {
    width: 66.66667%;
  }
  .m9 {
    width: 75%;
  }
  .m10 {
    width: 83.33333%;
  }
  .m11 {
    width: 91.66667%;
  }
  .m12 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .l1 {
    width: 8.33333%;
  }
  .l2 {
    width: 16.66667%;
  }
  .l3 {
    width: 25%;
  }
  .l4 {
    width: 33.33333%;
  }
  .l5 {
    width: 41.66667%;
  }
  .l6 {
    width: 50%;
  }
  .l7 {
    width: 58.33333%;
  }
  .l8 {
    width: 66.66667%;
  }
  .l9 {
    width: 75%;
  }
  .l10 {
    width: 83.33333%;
  }
  .l11 {
    width: 91.66667%;
  }
  .l12 {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .xl1 {
    width: 8.33333%;
  }
  .xl2 {
    width: 16.66667%;
  }
  .xl3 {
    width: 25%;
  }
  .xl4 {
    width: 33.33333%;
  }
  .xl5 {
    width: 41.66667%;
  }
  .xl6 {
    width: 50%;
  }
  .xl7 {
    width: 58.33333%;
  }
  .xl8 {
    width: 66.66667%;
  }
  .xl9 {
    width: 75%;
  }
  .xl10 {
    width: 83.33333%;
  }
  .xl11 {
    width: 91.66667%;
  }
  .xl12 {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .xxl1 {
    width: 8.33333%;
  }
  .xxl2 {
    width: 16.66667%;
  }
  .xxl3 {
    width: 25%;
  }
  .xxl4 {
    width: 33.33333%;
  }
  .xxl5 {
    width: 41.66667%;
  }
  .xxl6 {
    width: 50%;
  }
  .xxl7 {
    width: 58.33333%;
  }
  .xxl8 {
    width: 66.66667%;
  }
  .xxl9 {
    width: 75%;
  }
  .xxl10 {
    width: 83.33333%;
  }
  .xxl11 {
    width: 91.66667%;
  }
  .xxl12 {
    width: 100%;
  }
}

.m-form .m-form__wrapper > *,
.m-form .m-form__wrapper,
.m-form input:not([type="submit"]):not([type="radio"]),
.m-form textarea {
  float: left;
  width: 100%;
}

.m-form .m-form__half {
  width: 50%;
}

.m-form input:not([type="submit"]):not([type="radio"]),
.m-form textarea {
  height: calc(var(--m) * 5px);
  padding: calc(var(--m) * 1.5px) 0;
  margin-top: calc(var(--m) * 3px);
  border: 1px solid rgb(var(--color-back-50));
  border-bottom: 1px solid rgb(var(--color-accent-80));
  resize: none;
  font-size: calc(var(--m) * 1.5px);
  color: rgb(var(--color-principale-50));
  background: rgb(var(--color-back-50));
  transition: 0.6s;
}

.m-form input:not([type="submit"]):not([type="radio"]):focus,
.m-form textarea:focus {
  padding: calc(var(--m) * 1.5px) calc(var(--m) * 2px);
  border-radius: calc(var(--m) * 3px);
  border: 1px solid rgb(var(--color-accent-50));
  background: rgb(var(--color-accent-98));
  transition: 0.2s;
}

.m-form label {
  display: block;
  width: 100%;
  color: rgb(var(--color-back-40));
  font-size: calc(var(--m) * 1px);
  font-family: "NimbusSans", Helvetica, sans-serif;
}

.m-form__wrapper {
  margin-bottom: calc(var(--m) * 5px);
}

.m-form__submit-bar {
  float: right;
}

.m-form__label-amimate,
.m-form__label {
  position: relative;
}

.m-form__label-amimate label,
.m-form__label label {
  position: absolute;
  left: 0;
  top: calc(var(--m) * 1.5px);
  pointer-events: none;
  transition: 0.2s;
}

.m-form__label-amimate label {
  top: calc(var(--m) * 5px);
}

.m-form__label-amimate label.is--focus {
  top: calc(var(--m) * 1px);
}

.m-form__label-amimate label.is--filled {
  top: calc(var(--m) * 2px);
}

.m-form__label-amimate ::placeholder {
  color: rgba(var(--color-back-50), 0);
}

.m-form__with-btn {
  display: flex;
  align-items: flex-end;
}

.m-form__with-btn .btn {
  margin-left: calc(var(--m) * 1px);
  flex: 0 0 auto;
}

.m-form__info {
  align-items: center;
  margin-top: calc(var(--m) * 3px);
}

.m-form__info span {
  color: rgb(var(--color-back-40));
  margin-left: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(var(--color-back-50)) inset !important;
  -webkit-text-fill-color: rgb(var(--color-principale-50)) !important;
  padding: calc(var(--m) * 1.5px) 0 !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::placeholder {
  color: rgb(var(--color-accent-80));
}

.m-form__step .m-form__wrapper:not(:first-of-type) {
  display: none;
}

.btn__prev, .btn__submit {
  display: none;
}

.m-form__nav {
  margin-bottom: calc(var(--m) * 5px);
}

.m-form__nav ul {
  display: flex;
}

.m-form__nav li {
  position: relative;
  font-family: "NimbusSans", Helvetica, sans-serif;
  color: rgb(var(--color-back-40));
  padding-right: calc(var(--m) * 4px);
  cursor: pointer;
}

.m-form__nav li.is--active {
  color: rgb(var(--color-accent-50));
}

.m-form__nav li:not(:last-of-type):after {
  content: url("./assets/img/ico_arrow-modal-nav.svg");
  position: absolute;
  width: calc(var(--m) * 0.5px);
  right: calc(var(--m) * 1.75px);
}

.m-form__radio-horiz {
  display: flex;
  align-items: center;
  padding-top: calc(var(--m) * 3px);
}

.m-form__radio-horiz .m-form__radio {
  margin-left: calc(var(--m) * 2px);
}

.m-form__radio-vert .m-form__radio {
  margin-bottom: calc(var(--m) * 1px);
}

.m-form__radio-txt {
  margin-right: auto;
}

.m-form__radio {
  display: block;
  position: relative;
  padding-left: calc(var(--m) * 2px);
  color: rgb(var(--color-back-40));
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: 0.6s;
}

@media (hover) {
  .m-form__radio:hover {
    color: rgb(var(--color-back-20));
    transition: 0.2s;
  }
  .m-form__radio:hover input ~ .checkmark {
    background: rgb(var(--color-accent-98));
  }
}

.m-form__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.m-form__radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--m) * 1px);
  width: calc(var(--m) * 1px);
  background: rgb(var(--color-back-50));
  border: 1px solid rgb(var(--color-accent-80));
  border-radius: 50%;
}

.m-form__radio input:checked ~ .checkmark {
  background: rgb(var(--color-accent-80));
}

.form__slider-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.form__slider-container > * {
  margin-right: calc(var(--m) * 1px);
}

.switch {
  float: left;
  position: relative;
  display: inline-block;
  width: calc(var(--m) * 3px);
  height: calc(var(--m) * 2px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  border: 3px solid;
  background: rgb(var(--color-secondaire-50));
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--m) * 1px);
  width: calc(var(--m) * 1px);
  left: calc(var(--m) * 0.5px);
  bottom: calc(var(--m) * 0.5px);
  background-color: rgb(var(--color-accent-50));
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  box-shadow: 0 2.8px 2.2px rgba(var(--color-principale-50), 0.034), 0 6.7px 5.3px rgba(var(--color-principale-50), 0.048), 0 12.5px 10px rgba(var(--color-principale-50), 0.06), 0 22.3px 17.9px rgba(var(--color-principale-50), 0.072), 0 41.8px 33.4px rgba(var(--color-principale-50), 0.086), 0 100px 80px rgba(var(--color-principale-50), 0.12);
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--m) * 1px));
  -moz-transform: translateX(calc(var(--m) * 1px));
  -ms-transform: translateX(calc(var(--m) * 1px));
  -o-transform: translateX(calc(var(--m) * 1px));
  transform: translateX(calc(var(--m) * 1px));
}

/* Rounded sliders */
.slider.round {
  border-radius: calc(var(--m) * 1px);
}

.slider.round:before {
  border-radius: 50%;
}

.m-form__select-tab select {
  display: none;
}

.m-form__tabs {
  display: flex;
  height: calc(var(--m) * 5px);
  margin-top: calc(var(--m) * 3px);
  border: 1px solid rgb(var(--color-accent-80));
  border-radius: calc(var(--m) * 3px);
  background: rgb(var(--color-back-50));
  overflow: hidden;
}

.m-form__tab {
  flex: 2 2 auto;
  height: calc(var(--m) * 5px);
  padding: calc(var(--m) * 1.5px);
  font-size: calc(var(--m) * 1.5px);
  color: rgb(var(--color-accent-80));
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
}

@media (hover) {
  .m-form__tab:hover {
    color: rgb(var(--color-accent-50));
    background: rgb(var(--color-accent-98));
    transition: 0.2s;
  }
}

.m-form__tab.is--active {
  background: rgb(var(--color-accent-80));
  color: rgb(var(--color-accent-50));
}

.m-form__select-list select {
  display: none;
}

.m-form__list {
  position: relative;
  float: left;
  width: 100%;
  margin-top: calc(var(--m) * 3px);
  border: 1px solid rgb(var(--color-back-50));
  border-bottom: 1px solid rgb(var(--color-accent-80));
  transition: 0.6s;
}

.m-form__list.is--focus {
  border: 1px solid rgb(var(--color-accent-50));
  border-bottom: 1px solid rgb(var(--color-back-50));
  border-top-right-radius: calc(var(--m) * 1px);
  border-top-left-radius: calc(var(--m) * 1px);
  transition: 0.2s;
}

.m-form__list.is--focus .m-form__list-items {
  height: auto;
  max-height: calc(var(--m) * 10px);
  border: 1px solid rgb(var(--color-accent-50));
  border-top: 1px solid rgb(var(--color-back-50));
  border-bottom-right-radius: calc(var(--m) * 1px);
  border-bottom-left-radius: calc(var(--m) * 1px);
  overflow-y: scroll;
}

.m-form__list-input {
  margin-top: 0 !important;
  border: none !important;
}

.m-form__list-items {
  position: absolute;
  width: calc(100% + 2px);
  height: 0;
  margin-top: calc(var(--m) * 5px);
  top: -2px;
  left: -1px;
  border: 1px solid rgb(var(--color-back-50));
  border-top: 1px solid rgb(var(--color-back-50));
  background: rgb(var(--color-back-50));
  overflow: hidden;
}

.m-form__list-item {
  padding: calc(var(--m) * 0.75px) calc(var(--m) * 1px);
  cursor: pointer;
  font-size: calc(var(--m) * 1px);
  color: rgb(var(--color-back-40));
  transition: 0.6s;
}

@media (hover) {
  .m-form__list-item:hover {
    color: rgb(var(--color-accent-50));
    background: rgb(var(--color-accent-98));
    transition: 0.2s;
  }
}

.is--denko__container {
  float: left;
  width: 100%;
  overflow: hidden;
}

.is--denko__container ul {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.is--denko__container span {
  display: inline-block;
  color: rgb(var(--color-accent-100));
  padding: 0 calc(var(--m) * 2px);
  border-right: 1px solid rgb(var(--color-accent-80));
}

.is--denko {
  position: absolute;
  display: flex;
  padding: calc(var(--m) * 1px) 0;
  width: max-content;
  animation: thedenkooldfashonway 3000s linear infinite reverse;
}

@keyframes thedenkooldfashonway {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-90%);
  }
}

.isv--parent {
  display: flex;
  align-items: center;
}

.is--fullsize {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.is--sticky {
  position: sticky;
  float: left;
  top: -1px;
  padding-top: var(--hh);
  background: rgba(var(--color-secondaire-50), 0);
  z-index: 1;
  transition: all .5s;
}

.is--sticky.is--pinned {
  background: rgb(var(--color-principale-50));
  box-shadow: 0 0.938em 2.188em rgba(var(--color-principale-100),.15), 0 0.313em 0.938em rgba(var(--color-principale-100),.1);
  transition: all .5s;
}

.is--sticky.is--pinned .display1 {
  font-size: calc(var(--m) * 1px);
  color: rgb(var(--color-accent-50));
  transition: all .5s;
}

.is--sticky.is--pinned .btn {
  color: rgb(var(--color-accent-50));
  border: 2px solid rgb(var(--color-accent-50));
  box-shadow: 2px 2px rgb(var(--color-accent-50));
}

.l_facture {
  margin-top: calc(var(--m) * 5px);
}

.l_facture .form__input-container {
  border: none;
}

.paper {
  position: relative;
  width: 800px;
  margin: 0 auto 50px auto;
  padding-top: 1130px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(var(--color-principale-70), 0.034), 0 6.7px 5.3px rgba(var(--color-principale-70), 0.048), 0 12.5px 10px rgba(var(--color-principale-70), 0.06), 0 22.3px 17.9px rgba(var(--color-principale-70), 0.072), 0 41.8px 33.4px rgba(var(--color-principale-70), 0.086), 0 100px 80px rgba(var(--color-principale-70), 0.12);
  page-break-after: always;
  page-break-before: always;
}

.paper__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 30px;
}

.l-projets a {
  display: flex;
  align-items: center;
  padding: calc(var(--m) * 1px) 0;
  width: 100%;
}

.l-projets span {
  display: block;
  width: 100%;
}

.l-projets .col {
  flex: 1 1 auto;
}

.l-projets .lead_para {
  color: rgb(var(--color-accent-50));
}

.l-projets .caption {
  font-style: italic;
  color: rgb(var(--color-back-30));
}

.l-projets__projet {
  margin-bottom: calc(var(--m) * 0.5px);
  border-radius: calc(var(--m) * 2px);
  transition: 2s;
}

@media (hover) {
  .l-projets__projet:hover {
    padding: 0 calc(var(--m) * 1px);
    background: rgb(var(--color-accent-90));
    transition: 0.2s;
  }
  .l-projets__projet:hover .caption {
    color: rgb(var(--color-accent-70));
  }
}

.l-projets__list {
  flex-direction: column;
}

.l-projets__statut {
  flex: 0 0 auto;
  text-align: right;
}

.l-projets__thumbnail {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: calc(var(--m) * 3px);
  height: calc(var(--m) * 3px);
  margin-right: calc(var(--m) * 1px);
  background: rgb(var(--color-accent-50));
  border-radius: 50%;
}

.l-projets__thumbnail svg {
  width: calc(var(--m) * 1.5px);
  fill: rgb(var(--color-back-50));
}

.l-projets__annule .l-projets__thumbnail {
  background: rgb(var(--color-back-40));
}

.l-projets__termine .l-projets__thumbnail {
  background: rgb(var(--color-back-10));
}

.is--active #l-projet__diffuseurs-accordion,
.is--active #l-projet__retrocessions-accordion {
  min-height: 520px;
}

.l-header__bar {
  display: flex;
  position: fixed;
  top: 0;
}

.l-header__mainbar {
  flex-direction: row;
  width: 100%;
  height: var(--hh);
  border-bottom: 1px solid rgb(var(--color-accent-50));
  border-top: 1px solid rgb(var(--color-accent-50));
  background: rgb(var(--color-accent-50));
  z-index: 500;
}

.l-header__searchbar {
  display: flex;
  flex-grow: 1;
  margin-left: var(--hh);
}

.l-header__searchbar input {
  width: calc(var(--m) * 60px);
  font-style: italic;
  font-weight: 400;
  font-size: calc(var(--m) * 2px);
  color: rgb(var(--color-secondaire-50));
  padding: 0 calc(var(--m) * 1px);
  background: rgb(var(--color-back-50));
  transition: all 2s;
}

.l-header__searchbar input:focus {
  box-shadow: 0 2.8px 2.2px rgba(var(--color-principale-100), 0.034), 0 6.7px 5.3px rgba(var(--color-principale-100), 0.048), 0 12.5px 10px rgba(var(--color-principale-100), 0.06), 0 22.3px 17.9px rgba(var(--color-principale-100), 0.072), 0 41.8px 33.4px rgba(var(--color-principale-100), 0.086), 0 100px 80px rgba(var(--color-principale-100), 0.12);
  padding: 0 calc(var(--m) * 1.5px);
  border-radius: calc(var(--m) * 3px);
  transition: all .5s;
}

.l-header__navbar {
  flex-direction: column;
  align-items: center;
  width: var(--hh);
  padding-top: var(--hh);
  min-height: calc(var(--vh, 1vh) * 100);
  background: rgb(var(--color-back-50));
  border-right: 1px solid rgb(var(--color-accent-50));
  transition: .5s;
  z-index: 800;
}

.l-header__navbar.is--active {
  width: calc(var(--m) * 25px);
}

.l-header__navbar.is--active .nav__main {
  width: calc(var(--m) * 25px);
  padding-right: calc(var(--m) * 2px);
}

.l-header__navbar.is--active .l-header__logo {
  opacity: 0;
}

.l-header__navbar.is--active .l-header__mention {
  opacity: 1;
}

.l-header__bottom {
  position: absolute;
  bottom: var(--mb);
  padding: 0 calc(var(--m) * 0.5px);
  transition: .5s;
}

.l-header__logo svg {
  width: calc(var(--m) * 2.5px);
}

.l-header__nav {
  float: right;
}

.nav__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  width: var(--hh);
  overflow: hidden;
  transition: .5s;
}

.nav__main li, .nav__main a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (hover) {
  .nav__main .l-header__nav-item a:hover * {
    font-style: italic;
    color: rgb(var(--color-principale-50));
  }
  .nav__main .l-header__nav-item a:hover .l-header__nav-ico svg {
    fill: rgb(var(--color-principale-50));
  }
}

.nav__main .l-header__nav-item a.is--current * {
  color: rgb(var(--color-principale-50));
}

.nav__main .l-header__nav-item a.is--current .l-header__nav-ico svg {
  fill: rgb(var(--color-principale-50));
}

.nav__main .m-accordion__titre {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.l-header__nav-ico {
  display: flex;
  width: var(--hh);
  height: var(--hh);
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.l-header__nav-ico svg {
  width: calc(var(--m) * 2px);
}

.l-header__nav-txt {
  padding: 0 calc(var(--m) * 1px);
  color: rgb(var(--color-accent-50));
}

.l-header__subnav-item a {
  display: block;
  width: 100%;
  color: rgb(var(--color-accent-80));
  font-family: "NimbusSans", Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: calc(var(--m) * 1px) 0;
}

@media (hover) {
  .l-header__subnav-item a:hover {
    color: rgb(var(--color-principale-50));
    font-style: italic;
  }
}

.l-header__subnav-separator a {
  border-top: 1px solid rgb(var(--color-accent-80));
  margin-top: calc(var(--m) * 1px);
  padding-top: calc(var(--m) * 2px);
}

.nav__btn {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  cursor: pointer;
  background: rgb(var(--color-accent-50));
  z-index: 800;
}

@media (hover) {
  .nav__btn:hover #nav__btn-stick1 {
    transform: translateY(calc(var(--hh)/10));
  }
  .nav__btn:hover #nav__btn-stick2 {
    transform: translateY(calc(var(--hh)/10));
    opacity: 0;
  }
  .nav__btn:hover #nav__btn-stick3 {
    transform: translateY(calc(var(--hh)/-10));
  }
}

.nav__btn.is--active #nav__btn-stick1 {
  transform: translateY(calc(var(--hh)/6)) rotate(135deg);
}

.nav__btn.is--active #nav__btn-stick2 {
  transform: translateY(calc(var(--hh)/-6)) rotate(-30deg);
  opacity: 0;
}

.nav__btn.is--active #nav__btn-stick3 {
  transform: translateY(calc(var(--hh)/-6)) rotate(-135deg);
}

.nav__btn-gp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: var(--hh);
  height: var(--hh);
  padding: calc(var(--hh) /4);
}

.nav__btn-gp div {
  height: 3px;
  background: rgb(var(--color-principale-100));
  transition: .5s;
}

.l-header__mention {
  opacity: 0;
}

.l-header__mention span {
  display: block;
  width: 100%;
  color: rgb(var(--color-principale-90));
}

.l-header__mention a {
  color: rgb(var(--color-principale-80));
}

@media (hover) {
  .l-header__mention a:hover {
    color: rgb(var(--color-principale-50));
  }
}
