* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  border: none;
  vertical-align: middle;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

th {
  font-weight: normal;
  text-align: left;
}

[role="button"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  width: auto;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  outline: none;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root, .__rouge-trash-mode {
  --color-principale: #1C1C1C;
  --color-secondaire: white;
  --color-accent: #FF3636;
  --color-back: #E6E4DD;
}

.__bleu-google-mode:root, .__bleu-google-mode {
  --color-principale: #1C1C1C;
  --color-secondaire: white;
  --color-accent: #1178FF;
  --color-back: #E6E4DD;
}

.__violet-cool-mode:root, .__violet-cool-mode {
  --color-principale: #1C1C1C;
  --color-secondaire: white;
  --color-accent: #9348FF;
  --color-back: #E6E4DD;
}

.__rose-neutre-mode:root, .__rose-neutre-mode {
  --color-principale: #1C1C1C;
  --color-secondaire: white;
  --color-accent: #FF97DC;
  --color-back: #E6E4DD;
}

.__orange-fluo-mode:root, .__orange-fluo-mode {
  --color-principale: #1C1C1C;
  --color-secondaire: white;
  --color-accent: #FF6B5C;
  --color-back: #E6E4DD;
}

.__gris-dark-mode:root, .__gris-dark-mode {
  --color-principale: #E6E4DD;
  --color-secondaire: white;
  --color-accent: #363636;
  --color-back: #1C1C1C;
}

::selection {
  background-color: rgba(0, 0, 0, 0.99) !important;
  color: #f2f2f2 !important;
}

@font-face {
  font-family: 'Redaction';
  src: url("./assets/webfont/Redaction_35-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Redaction';
  src: url("./assets/webfont/Redaction_35-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Redaction';
  src: url("./assets/webfont/Redaction_35-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

html {
  overflow-y: scroll;
}

body {
  background: var(--color-back);
}

main {
  float: left;
  width: 100%;
  margin-top: 80px;
}

svg {
  fill: var(--color-principale);
}

.select-item-list {
  display: flex;
  padding: 100px 30px;
}

.select-item-list .select-item-list--single {
  padding: 20px 50px;
  width: 100%;
}

.select-item-list .select-item-list--single h4 {
  font-size: 18px;
}

.directorist-select {
  min-height: 42px;
}

.directorist-select__container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
}

.directorist-select__container .directorist-select__label {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #ececec;
  cursor: pointer;
}

.directorist-select__container .directorist-select__label img, .directorist-select__container .directorist-select__label i {
  max-width: 15px;
  width: 100%;
}

.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove img {
  display: block;
  top: 2px;
  width: 16px;
  pointer-events: none;
}

.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove span.fa, .directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove span.la {
  pointer-events: none;
}

.directorist-select__dropdown {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  display: none;
  max-height: 400px;
  overflow-y: auto;
}

.directorist-select__dropdown .directorist-select__search {
  height: 42px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #ececec;
}

.directorist-select__dropdown .directorist-select__search:focus {
  outline: none;
  box-shadow: 0 0;
}

.directorist-select__dropdown .directorist-select__search.directorist-select__search--hide {
  display: none;
}

.directorist-select__dropdown.directorist-select__dropdown-open {
  display: block;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul li .directorist-select-dropdown-item-icon img {
  max-width: 20px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.5px 15px;
  height: 64px;
  min-height: 42px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label input {
  font-size: 14px;
  border: 0 none;
  width: auto;
  padding: 5px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label input:focus {
  outline: none;
  border: 0 none;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px 6px -4px -4px;
  margin: 0;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__search {
  margin: 0;
  flex: auto;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list .directorist-select__selected-list--item {
  display: inline-flex;
  align-items: center;
  color: var(--color-secondaire);
  padding: 5px 8px;
  background-color: var(--color-accent);
  border-radius: 5.33333px;
  min-height: 17px;
  margin: 5.33333px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown {
  display: none;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  max-height: 400px;
  overflow-y: auto;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown.directorist-select__dropdown-open {
  display: block;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li {
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li.directorist-select-item-show {
  background-color: #F4F5F7;
}

span.directorist-select__selected-list--item:first-letter {
  text-transform: capitalize;
}

/* Directorist Error */
.directorist-select__container.directorist-error .directorist-select__label {
  border-color: var(--color-accent) !important;
}

.directorist-error .directorist-error__msg {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  color: var(--color-accent);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(67, 67, 67, 0.75);
}

.modal__wrapper {
  position: absolute;
  width: 50vw;
  height: 33vw;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1C1C1C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #FF3636;
  border: 2px solid #1C1C1C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF3636;
}

.isv--parent {
  display: flex;
  align-items: center;
}

.is--fullsize {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.form__slider-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.form__slider-container > * {
  margin-right: 16px;
}

.switch {
  float: left;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  border: 3px solid;
  background: var(--color-secondaire);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5.33333px;
  bottom: 5.33333px;
  background-color: var(--color-accent);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  box-shadow: 0 2.8px 2.2px rgba(28, 28, 28, 0.034), 0 6.7px 5.3px rgba(28, 28, 28, 0.048), 0 12.5px 10px rgba(28, 28, 28, 0.06), 0 22.3px 17.9px rgba(28, 28, 28, 0.072), 0 41.8px 33.4px rgba(28, 28, 28, 0.086), 0 100px 80px rgba(28, 28, 28, 0.12);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -ms-transform: translateX(16px);
  -o-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

* {
  font-family: 'Poppins', "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-principale);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 32px;
  line-height: 48px;
}

p {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}

p a:link, p a:visited {
  font-weight: 200;
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px 0 0 rgba(var(--color-accent), 0);
  transition: all 0.8s;
}

p a:hover {
  color: var(--color-accent);
  padding-bottom: 3px;
  box-shadow: 0 1px 0 0 rgba(var(--color-accent), 0.2);
  transition: all 0.8s;
}

.liste__de__lien a:nth-last-of-type(n+3)::after {
  content: ', ';
}

.liste__de__lien a:last-of-type::before {
  content: ' & ';
}

.liste__de__lien a:first-of-type::before {
  content: '';
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

.display3 {
  font-size: 96px;
  line-height: 96px;
}

.display2 {
  font-size: 64px;
  line-height: 64px;
}

.display1, .display1 * {
  font-family: "Redaction", sans-serif !important;
  font-style: italic;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
}

.subheading, .subheading * {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -2px;
}

.lead_paragraph, .lead_paragraph * {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -1px;
}

.body, .body * {
  font-size: 16px;
  line-height: 24px;
}

.divider {
  width: 2px;
  height: 64px;
  margin: 16px;
}

.divider-h {
  width: 64px;
  height: 2px;
  margin: 16px 0;
}

.is--sticky {
  position: sticky;
  float: left;
  top: -1px;
  padding-top: 80px;
  background: rgba(var(--color-secondaire), 0);
  z-index: 1;
  transition: all .5s;
}

.is--sticky.is--pinned {
  background: var(--color-principale);
  box-shadow: 0 0.938em 2.188em rgba(28, 28, 28, 0.1), 0 0.313em 0.938em rgba(28, 28, 28, 0.07);
  transition: all .5s;
}

.is--sticky.is--pinned .display1 {
  font-size: 32px;
  color: var(--color-accent);
  transition: all .5s;
}

.is--sticky.is--pinned .btn {
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  box-shadow: 2px 2px var(--color-accent);
}

.accordion__titre {
  position: relative;
  float: left;
  width: 100%;
  cursor: pointer;
  margin: 5px 0;
  padding: 10px 0;
  border-bottom: 1px solid;
}

.accordion__icon {
  position: absolute;
  transform: rotate(-90deg);
  right: 0;
  top: -10px;
  width: 20px;
  transition: transform .5s;
}

.accordion__icon svg {
  fill: none;
  stroke: var(--color-principale);
  stroke-width: 5;
}

.accordion__container {
  float: left;
  width: 100%;
  max-height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1s;
}

.accordion.is--active .accordion__icon {
  transform: rotate(0deg);
  transition: transform .5s;
}

.accordion.is--active .accordion__container {
  opacity: 1;
  max-height: 1000vh;
  margin: 5px 0 30px 0;
  transition: all 1s;
}

.toolbar {
  width: 100%;
}

.toolbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 32px;
}

.toolbar__container input[list="statut"] {
  width: 240px;
}

.btn {
  display: inline-block;
  margin: 48px 5.33333px;
  padding: 8px;
  border: 2px solid var(--color-principale);
  font-family: "Redaction", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 2px 2px var(--color-principale);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.btn:hover {
  text-decoration: none;
  background: var(--color-accent);
  box-shadow: 6px 6px var(--color-principale);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--plain {
  background: var(--color-secondaire);
}

.btn--outline {
  background: none;
}

.form {
  float: left;
  width: 100%;
}

.form__input-container {
  float: left;
  width: 100%;
  border: 1px solid var(--color-back);
  border-bottom: none;
  margin: 16px 0;
}

.form__input-container > input, .form__input-container > textarea, .form__input-container > div {
  float: left;
  height: 64px;
  padding: 24px;
  border: none;
  border-bottom: 1px solid var(--color-back);
  resize: none;
  color: var(--color-principale);
  background: var(--color-secondaire);
  transition: background .5s;
}

.form__input-container > textarea {
  height: auto;
}

.form__input-container input:focus, .form__input-container textarea:focus {
  background: var(--color-secondaire);
  transition: background .5s;
}

.form__input-container input:disabled {
  text-decoration: line-through;
  opacity: 0.6;
}

.form__input-container input::placeholder {
  color: var(--color-principale);
}

.form__input-full {
  width: 100%;
}

.form__input-half {
  width: 50%;
}

input.form__input-seperator {
  border-right: 1px solid var(--color-back);
}

input[type=submit]:disabled,
.form__input--line-through {
  text-decoration: line-through;
  cursor: auto;
  opacity: 0.5;
}

.table {
  width: 100%;
}

.table tr {
  cursor: pointer;
}

.table tr:hover td {
  background: var(--color-secondaire);
  color: var(--color-accent) !important;
  z-index: 100;
  padding: 32px 8px;
  transition: all .3s;
}

.table th, .table td {
  text-align: left;
  padding: 8px 8px;
  border-right: 1px solid var(--color-back);
  transition: all .3s;
}

.table td {
  color: var(--color-accent);
}

.table th, .table .tablesorter-header-inner {
  font-family: "Redaction", serif;
  font-style: italic;
  color: var(--color-back);
}

.table tbody tr:nth-child(2n),
.table thead tr {
  background: var(--color-accent);
}

.table tbody tr:nth-child(2n) td,
.table thead tr td {
  color: var(--color-back);
}

.row {
  float: left;
  width: 100%;
  padding: 48px 16px;
}

.col {
  float: left;
  padding: 16px;
}

@media (min-width: 992px) {
  .l1 {
    width: 8.33%;
  }
  .l2 {
    width: 16.66%;
  }
  .l3 {
    width: 25%;
  }
  .l4 {
    width: 33.33%;
  }
  .l5 {
    width: 41.66%;
  }
  .l6 {
    width: 50%;
  }
  .l7 {
    width: 58.33%;
  }
  .l8 {
    width: 66.66%;
  }
  .l9 {
    width: 75%;
  }
  .l10 {
    width: 83.33%;
  }
  .l11 {
    width: 91.66%;
  }
  .l12 {
    width: 100%;
  }
}

.menu {
  display: none;
  float: left;
  min-width: 250px;
  border-radius: 4px;
  box-shadow: 0 8px 10px 1px rgba(204, 204, 204, 0.14), 0 3px 14px 2px rgba(204, 204, 204, 0.12), 0 5px 5px -3px rgba(204, 204, 204, 0.2);
  background: white;
}

.menu li {
  display: list-item;
}

.menu li.separator {
  border-top: 1px solid #ececec;
}

.menu a:link, .menu a:visited {
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 16px 24px;
}

.menu a:hover {
  background: #fbfbfb;
  text-decoration: none;
}

.l_facture {
  margin-top: 80px;
}

.l_facture .form__input-container {
  border: none;
}

.paper {
  position: relative;
  width: 800px;
  margin: 0 auto 50px auto;
  padding-top: 1130px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(28, 28, 28, 0.034), 0 6.7px 5.3px rgba(28, 28, 28, 0.048), 0 12.5px 10px rgba(28, 28, 28, 0.06), 0 22.3px 17.9px rgba(28, 28, 28, 0.072), 0 41.8px 33.4px rgba(28, 28, 28, 0.086), 0 100px 80px rgba(28, 28, 28, 0.12);
  page-break-after: always;
  page-break-before: always;
}

.paper__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 30px;
}

.l-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 32px;
  background: var(--color-accent);
  z-index: 10;
}

.l-header .menu {
  position: absolute;
  top: 70px;
  right: 48px;
}

.l-header__logo svg {
  height: 48px;
}

.l-header__bar {
  flex-grow: 1;
  height: 48px;
  margin: 16px 32px;
}

.l-header__bar input {
  width: 100%;
  height: 48px;
  font-family: "Redaction", serif;
  font-style: italic;
  color: var(--color-secondaire);
  padding: 0 16px;
  border-radius: 16px;
  background: var(--color-principale);
  transition: all 2s;
}

.l-header__bar input:focus {
  box-shadow: 0 0.938em 2.188em rgba(28, 28, 28, 0.15), 0 0.313em 0.938em rgba(28, 28, 28, 0.1);
  padding: 0 24px;
  border-radius: 48px;
  transition: all .5s;
}

.l-header__nav {
  float: right;
}

.nav__main {
  display: flex;
  flex-direction: row;
  float: right;
}

.nav__main li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  margin: 0 32px;
  border-bottom: 4px solid var(--color-accent);
  transition: border 0.4s;
}

.nav__main li:hover {
  border-bottom: 4px solid white;
  transition: border 0.4s;
}

.nav__main a {
  display: block;
  line-height: 80px;
}

.nav__main a:hover {
  text-decoration: none;
  color: var(--color-secondaire);
  transition: color 0.4s;
}

.nav__main a.is--current::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("assets/img/page--is--current.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.btn__menu-more-vert {
  float: right;
  padding-top: 27px;
}

.l-header__btn-color {
  align-self: center;
  width: 26px;
  height: 26px;
  margin-left: 16px;
  border: 3px solid;
  border-radius: 16px;
  cursor: pointer;
}

.l-header__btn-color::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 16px;
  border: 4px solid var(--color-secondaire);
}

@media (min-width: 576px) {
  display: block;
}

@media (min-width: 768px) {
  display: block;
}

@media (min-width: 992px) {
  display: block;
}

@media (min-width: 1200px) {
  display: block;
}
