// main: ../../../style.sass


.is--sticky
  position: sticky
  float: left
  top: -1px
  padding-top: $header__height
  background: color('secondaire', 50, 0)
  z-index: 1
  transition: all .5s

  &.is--pinned
    background: color('principale')
    @include box-shadow(5, 'principale', 100)
    transition: all .5s

    .display1
      font-size: $modulor*2
      color: color('accent')
      transition: all .5s

    .btn
      color: color('accent')
      border: 2px solid color('accent')
      box-shadow: 2px 2px color('accent')
