// main: ../../../style.sass

/// Le module Aside permet de gérer les barres latérales de Nadine

.m-aside
  display: flex
  flex-direction: column
  position: sticky
  float: left
  width: $width__aside
  top: $header__height
  min-height: calc( vh(100) - $header__height )
  padding: m(3) m(2) $row__mb m(2) !important
  background: color('back')
  border-right: 1px solid color('border-color')

  &>*
    width: 100%
    margin-bottom: m(2)

  h1
    color: color('txt')

.m-aside__bottom
  margin-top: auto
  margin-bottom: 0

.m-aside__info
  em
    color: color('drk')
