// main: ../../../style.sass

  Le module Accordion permet de créer des accordions
  rapidement


  Exemple de HTML :

    <li class="m-accordion">
      <div class="m-accordion__titre">
        <h3>Ici, le titre de l'accordion</h3>
        <div class="m-accordion__ico">
          <?php include './assets/img/ico_arrow-accordion.svg.php'; ?>
        </div>
      </div>
      <div class="m-accordion__wrapper">
        Ici, le contenu de l'accordion
      </div>
    </li>


.m-accordion
  display: flex
  flex-direction: column !important
  width: 100%
  &.is--active
    .m-accordion__ico
      transform: rotate(0deg)
      transition: transform .5s

    .m-accordion__wrapper
      opacity: 1
      max-height: 1000vh
      padding-bottom: $row__marge-bottom
      transition: $fast

  @include hover
    .m-accordion__titre span
      color: color('rouge', 50)
      margin: 0 m()
      transition: $fast
    .m-accordion__ico svg
      stroke: color('rouge', 50)

.m-accordion__titre
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  cursor: pointer
  border-bottom: 1px solid color('border-color')
  padding-bottom: m()
  margin-bottom: m()

  span
    font-family: font('sans-serif')
    color: color('rouge', 70)
    transition: $verySlow

.m-accordion__ico
  margin-left: auto
  transform: rotate(-90deg)
  width: m()
  transition: .5s

  svg
    fill: none
    stroke: color('rouge', 80)
    stroke-width: m()

.m-accordion__wrapper
  display: flex
  max-height: 0
  margin: 0
  opacity: 0
  overflow: hidden
  transition: $fast
