// main: ../../../style.sass

  Le module Badge stylise les badges d'information.


  Exemple de HTML :

    <span class="badge">Projet terminé</span>



.badge
  font-size: $modulor*1
  padding: $modulor/2 $modulor
  margin: $modulor
  top: 0
  background: var(--color-principale)
  border-radius: $modulor*3
  font-family: "NimbusSans", "Helvetica", sans-serif !important
  color: var(--color-back)
  font-style: normal
  font-weight: 600
  letter-spacing: -1px
