// main: ../../../style.sass

  Le module Button stylise les boutons. Il exite
  deux variantes : le bouton btn--plain et le btn--outline.


  Exemple de HTML :

    <button class="btn btn--outline" onclick="document.location = '<?php the_permalink(); ?>';">Mon Button</button>



.btn
  display: inline-block
  margin: $modulor*3 $modulor/3
  padding: $modulor/2
  border: 2px solid color('principale')
  font-family: "Redaction", sans-serif !important
  font-size: $modulor
  font-weight: 600
  cursor: pointer
  white-space: nowrap
  box-shadow: 2px 2px color('principale')
  @include prefix(transition, all 1s)

  &:hover
    text-decoration: none
    background: color('accent')
    box-shadow: 6px 6px color('principale')
    @include prefix(transition, all 0.2s)

.btn--plain
  background: color('secondaire')

.btn--outline
  background: none
