// main: ../../../style.sass

  Le module Button stylise les boutons. Il exite
  deux variantes : le bouton btn--plain et le btn--outline.


  Exemple de HTML :

    <button class="btn btn--outline" onclick="document.location = '<?php the_permalink(); ?>';">Mon Button</button>



.btn
  display: inline-block
  margin: m(3) m(.5)
  padding: m() m(3)
  font-size: m(1.25)
  font-weight: 600
  cursor: pointer
  white-space: nowrap
  border-radius: m(3)
  @include prefix(transition, all 1s)

  &:hover
    text-decoration: none
    background: color('accent')
    @include prefix(transition, all 0.2s)

.btn--plain
  color: color('back')
  background: color('accent')
  border: 1px solid color('accent')

.btn--outline
  color: color('accent', 80)
  border: 1px solid color('accent', 80)
  background: none

.btn--big
  padding: m(2)
