// main: ../../../style.sass

/// Le module Button stylise les boutons. Il exite
/// deux variantes : le bouton btn__plain et le btn__outline.
///
///
/// Exemple de HTML :
///
/// <div class="m-btn__grp">
///   <a href="<?php the_permalink(); ?>" class="btn btn__outline">
///     <?php _e("Annuler","monobloc") ?>
///   </a>
///   <a href="<?php the_permalink(); ?>" class="btn btn__plain">
///     <?php _e("Valider","monobloc") ?>
///   </a>
/// </div>

// Stylise les groupes de boutons

.m-btn__grp
  display: inline-flex
  flex-wrap: wrap
  gap: m()

  &.m-btn__grp-v
    flex-direction: column
    align-items: flex-start

    &>.btn
      margin-left: 0

    &>.btn:not(:first-child)
      margin-top: m()

// Stylise tous les boutons

.btn
  display: inline-block
  float: left
  height: m(4)
  padding: m() m(3)
  font-size: m(1.25)
  line-height: m(2)
  font-weight: 600
  cursor: pointer
  white-space: nowrap
  border-radius: m(3)
  transition: $slow

  @include hover
    text-decoration: none
    background: color('acc')
    border-radius: m(1.5)
    transition: $fast

// Stylise les boutons avec un fond

.btn__plain
  color: color('back')
  background: color('acc')
  border: 1px solid color('acc')

// Stylise les boutons avec un simple contour

.btn__outline
  color: color('rouge', 800)
  border: 1px solid color('rouge', 800)
  background: color('grey', 0, 0)
  svg
    fill: color('rouge', 800)

  @include hover
    background: color('rouge', 980)
    color: color('txt')
    transition: $fast

    svg
      fill: color('txt')
      transition: $fast

// Stylise les boutons avec une icone

.btn__ico
  display: flex
  align-items: center
  justify-content: center
  width: m(4)
  padding: m()
  svg
    width: auto
    height: m(1.5)
    transition: $slow

.btn__ico-label
  transition: $slow

.btn__ico-label:has( + .btn__ico:hover)
  color: color('txt')
  transition: $fast

/// Stylise les gros boutons
///
/// Exemple de HTML :
/// <a href="./projet__new.php" class="btn btn__big btn__plain btn__modal" data-modal='add-projet'>
///   <div class="btn__big-ico"><?php include './assets/img/ico_ajouter--plain.svg.php'; ?></div>
///   <div class="btn__big-txt">
///     <span class=" m-lead m-ss">Ajouter</span>
///     <span class="m-body-l">Projet</span>
///   </div>
/// </a>

.btn__big
  display: flex
  align-items: center
  width: auto
  height: auto
  padding: m()
  border: m() solid
  border-image: url('./assets/img/border-image-light.svg')
  border-image-slice: 25%

  @include hover
    border-radius: 0
    transition: $fast

@media (prefers-color-scheme: dark)
  .btn__big
    border-image: url('./assets/img/border-image-dark.svg')
    border-image-slice: 25%

.btn__big-txt
  padding: 0 m(2)
  *
    display: block
    width: 100%
  .m-lead
    color: color('back')
  .m-body-l
    color: color('drk')
    font-style: italic

// Stylse boutons avec des icones

.btn__big-ico svg
  width: m(4.5)
  fill: color('back')

/// Stylse des feedback
///
/// Exemple de HTML :
/// <div class="m-btn__grp">
///   <button class="btn btn__outline btn__cancel" type="button">Annuler</button>
///   <button class="btn btn__plain btn__copy" type="button">Copier</button>
///   <span class="btn__info m-ss">Message copié !</span>
/// </div>

.btn__info
  opacity: 0
  float: left
  height: m(4)
  padding: m()
  font-size: m(1.25)
  line-height: m(2)
  font-weight: 400
  transition: $slow
  &.is--active
    opacity: 1
