// main: ../../../style.sass

  Le module Form permet de styliser les formulaires

  Exemple de HTML :

  <form class="m-form" action="<?php echo get_stylesheet_directory_uri(); ?>/scripts/s__send-mail-from-form.php" method="post">
    <div class="m-form__input-container">
      <input type="text" class="m-form__input-half" placeholder="Nom*" name="nom" value="" autocomplete="family-name" required>
      <input type="email" class="m-form__input-half" placeholder="Email*" name="email" value="" autocomplete="email" required>
      <input type="text" class="m-form__input-full" placeholder="Sujet*" name="sujet" value="" autocomplete="" required>
      <textarea class="m-form__input-full" placeholder="Message*" name="message" value="" autocomplete="" required></textarea>

      <input type="text" class="m-form__full" placeholder="Prénom*" name="shipping_first_name" value="" autocomplete="given-name" required>
      <input type="text" class="m-form__full" placeholder="Nom*" name="shipping_last_name" value="" autocomplete="family-name" required>
      <input type="text" class="m-form__full" placeholder="Nom de l'entreprise" name="shipping_company" value="" autocomplete="organization">
      <input type="text" class="m-form__full" placeholder="Téléphone*" name="shipping_phone" value="" autocomplete="tel" required>
      <input type="email" class="m-form__full automatewoo-capture-guest-email" placeholder="Email*" name="shipping_email" value="" autocomplete="email" required>
      <input type="text" class="m-form__full" placeholder="Numéro et nom de rue*" name="shipping_address_1" value="" autocomplete="street-address" required>
      <input type="text" class="m-form__full" placeholder="Code postal*" name="shipping_postcode" value="" pattern="[0-9]{5}" size="5" maxlength="5" autocomplete="postal-code" required>
      <input type="text" class="m-form__full" placeholder="Ville*" name="shipping_city" value="" autocomplete="address-level2" required>

      <input type="text" class="m-form__input-half" placeholder="url" name="url" hidden value="<?php echo get_home_url(); ?>">
      <input type="text" class="m-form__input-half" placeholder="url" name="the_permalink" hidden value="<?php the_permalink(); ?>">
    </div>
      <input type="submit" name="submit" value="<?php _e("Envoyer votre message","monobloc") ?>" class="btn btn--plain">
  </form>

.form
  float: left
  width: 100%

.form__input-container
  float: left
  width: 100%
  border: 1px solid color('back')
  border-bottom: none
  margin: m() 0

  &>input, &>textarea, &>div
    float: left
    height: m(4)
    padding: m(1.5)
    border: none
    border-bottom: 1px solid color('back')
    resize: none
    color: color('principale')
    background: color('secondaire')
    transition: background .5s

  &>textarea
    height: auto

  input:focus, textarea:focus
    background: color('secondaire')
    transition: background .5s

  input:disabled
    text-decoration: line-through
    opacity: 0.6

  input::placeholder
    color: color('principale')

.form__input-full
  width: 100%

.form__input-half
  width: 50%

input.form__input-seperator
  border-right: 1px solid color('back')

input[type=submit]:disabled,
.form__input--line-through
  text-decoration: line-through
  cursor: auto
  opacity: 0.5
