// main: ../../../style.sass

/// Le module Grid est l'un des plus ancien de Nadine.
/// Il gére le système de grille "à l'ancienne".

.m-row, .m-rom, .m-col
  float: left
  width: 100%

.m-rom
  padding: $row__mt $row__mx $row__mb $row__mx

  &.with--aside
    float: right
    width: calc(100% - #{$width__aside} )

.m-col
  padding: m(.5)

/// Cette fonction génére toutes les .class permettant de gérer les colonnes
/// en HTML. Elles utilise les variables $nbColonne et $breakpoints du fichier
/// assets/sass/base/_config.sass
///
/// Exemple de HTML :
///
/// <div class="m-rom">
///   <div class="m-col s8 xl6">
///     <!-- content -->
///   </div>
/// </div>

@each $breakpoint, $size in $breakpoints
  @include respond($breakpoint)
    @for $i from 1 through $nbColonne
      .#{$breakpoint}#{$i}
        $width: calc(100% / $nbColonne * $i)
        width: $width

  // Cette fonction génére toutes les .class m-marge-bottom

@for $i from 1 through 6
  .m-mt#{$i}
    margin-top: m(#{$i})

  .m-mb#{$i}
    margin-bottom: m(#{$i})
