// main: ../../../style.sass

/// Le module Grid est l'un des plus ancien de Nadine.
/// Il gére le système de grille "à l'ancienne".

.m-row, .m-rom, .m-col
  float: left
  width: 100%

.m-rom
  padding: $row__mt $row__mx $row__mb $row__mx

  &.with--aside
    float: right
    width: calc(100% - #{$width__aside} )


/// Les margin: auto sont très utilisé avec
/// les grilles flex
///
/// Exemple de HTML :
///   <div class="m-mta"></div>
///   <div class="m-mba"></div>

.m-mta
  margin-top: auto

.m-mtt
  margin-top: $row__mt

.m-mba
  margin-bottom: auto

.m-mya
  margin: auto 0
  
.m-mla
  margin-left: auto

.m-mra
  margin-right: auto

.m-mxa
  margin: 0 auto


/// Cette fonction génére toutes les .class .m-marge-bottom,
/// .m-marge-top, .m-marge-left et .m-marge-right
///
/// Exemple de HTML :
///   <div class="m-mt3"></div>
///   <div class="m-my2"></div>

@for $i from 1 through 6
  .m-mt#{$i}
    margin-top: m(#{$i})

  .m-mb#{$i}
    margin-bottom: m(#{$i})

  .m-my#{$i}
    margin: m(#{$i}) 0

  .m-ml#{$i}
    margin-left: m(#{$i})

  .m-mr#{$i}
    margin-right: m(#{$i})

  .m-mx#{$i}
    margin: 0 m(#{$i})