// main: ../../../style.sass

  Le module Grid est l'un des plus ancien de Nadine.
  Il gére le système de grille "à l'ancienne".

.row
  float: left
  width: 100%
  padding: $row__marge-top $row__marge-horiz $row__marge-bottom $row__marge-horiz

.col
  width: 100%
  float: left
  padding: m(.5)

// Cette fonction génére toutes les .class permettant de gérer les colonnes
  en HTML. Elles utilise les variables $nbColonne et $breakpoints du fichier
  assets/sass/base/_config.sass

    Exemple de HTML :

    <div class="row">
      <div class="col s8 xl6">
        <!-- content -->
      </div>
    </div>

@each $breakpoint, $size in $breakpoints
  @include respond($breakpoint)
    @for $i from 1 through $nbColonne
      .#{$breakpoint}#{$i}
        $width: 100% / $nbColonne * $i
        width: $width
