// main: ../../../style.sass

  Le module Modal permet d'afficher une fenêtre
  pour que l'utilisateur confirme quelques chose.


.m-modal
  display: none
  position: fixed
  width: 50vw
  min-height: 33vh
  top: 50%
  left: 50%
  background: color('back')
  transform: translate(-50%, -50%)
  z-index: $zindex__modal
  @include box-shadow(100, 'dark')

  &.is--active
    display: flex

.m-modal__wrapper
  flex: 1 1 auto
  padding: m(5)

.m-modal__nav
  margin-bottom: m(5)
  ul
    display: flex

  li
    position: relative
    padding-right: m(4)

    &.is--active a
      color: color('accent')

    &:not(:last-of-type):after
      content: url('./assets/img/ico_arrow-modal-nav.svg')
      position: absolute
      width: m(0.5)
      right: m(1.75)

  a
    font-family: font('sans-serif')
    color: color('back', 40)


.m-modal__denko
  position: relative
  flex: 0 0 auto
  width: m(10)
  background: color('accent')
  overflow: hidden
  .is--denko__container
    position: absolute
    top: 100%
    width: 100vh
    height: m(9)
    display: block
    transform: rotate(-90deg)
    transform-origin: top left
