// main: ../../../style.sass

  Le module Modal permet d'afficher une fenêtre
  pour que l'utilisateur confirme quelques chose.


.m-modal
  position: fixed
  width: 50vw
  height: 33vw
  padding: 40px
  border-radius: 20px
  text-align: center
  background: color('secondaire')
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: $zindex__modal
