// main: ../../../style.sass

/* width */
::-webkit-scrollbar
  width: $modulor/2

/* Track */
::-webkit-scrollbar-track
  background: $gris-dark

/* Handle */
::-webkit-scrollbar-thumb
  background:
  border-radius: $modulor
  background: $rouge-trash
  border: 2px solid $gris-dark

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: $rouge-trash
