// main: ../../../style.sass

  Le module Overflow_Custom permet de modifier l'apparence des Scrolls
  sur tout les navigateurs utilisant le noyaux Chronium : Google Chrome,
  Opera, Vivaldi, Brave, etc.


// width

::-webkit-scrollbar
  width: $modulor
  height: $modulor


// Track

::-webkit-scrollbar-track
  background: color('principale')


// Handle

::-webkit-scrollbar-thumb
  background: color('accent')
  border: $modulor/3 solid color('principale')


// Handle on hover

::-webkit-scrollbar-thumb:hover
  background: color('secondaire')
