// main: ../../../style.sass

/// Le module Table permet de styliser les Tableaux
///
///
/// Exemple de HTML :
///
/// <table class="m-table">
///   <thead>
///     <tr>
///       <th></th>
///       <th></th>
///     </tr>
///   </thead>
///   <tbody>
///     <tr>
///       <td></td>
///       <td></td>
///     </tr>
///   </tbody>
/// </table>

.m-table
  width: 100%

  tr
    cursor: pointer

    @include hover
      td
        z-index: 100
        padding: m() m(.5)
        transition: all .3s

  th, td
    text-align: left
    padding: m(.5) m(.5)
    border-right: 1px solid color('grey')
    transition: all .3s

  td
    color: color('txt')

  th, .tablesorter-header-inner
    font-style: italic
    color: color('grey',100)

  tbody tr:nth-child(2n),
  thead tr
    background: color('txt')
    td
      color: color('grey',100)
