// main: ../../../style.sass


  Le module Type System gère tous les styles
  de paragraphe de Nadine.

  Exemple de HTML :

    <h1 class="m-lead">Something</h1>
    <p class="m-body">Something else</p>


*
  font-family: font('serif')
  color: color('texte')
  font-weight: 400
  font-style: normal
  font-stretch: normal
  font-feature-settings: "liga", "kern"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


h1, h2, h3, h4, h5, h6
  font-size: 2rem
  line-height: 3rem

h1, h2, h3, h4, h5, h6, p, a
  transition: $fast

strong, strong *
  font-weight: 600

em, em *,
i, i *
  font-style: italic

p + p
  margin-top: m()

p
  a
    cursor: pointer

    &:link, &:visited
      color: inherit
      text-decoration: none
      box-shadow: 0 1px 0 0 color('rouge',50)
      transition: all 0.8s

    @include hover
      color: color('texte')
      padding-bottom: 3px
      box-shadow: 0 1px 0 0 color('rouge',50,0.2)
      transition: all 0.8s


// Style le éléments en sans-serif

.m-ss
  font-family: font('sans-serif')

// Style les styles de paragraphe de Nadine

.m-display, .m-display *
  font-size: 5rem
  line-height: 5rem

.m-headline, .m-headline *
  font-size: 4rem
  line-height: 4rem

.m-lead, .m-lead *
  font-size: 2rem
  line-height: 2rem

.m-body-l, .m-body-l *
  font-size: 1.5rem
  line-height: 2rem

.m-body, .m-body *
  font-size: 1.25rem
  line-height: 1.5rem

.m-body-s, .m-body-s *
  font-size: 1rem
  line-height: 1.25rem

.m-caption, .m-caption *
  font-size: m(0.75)
  line-height: m()
