// main: ../../../style.sass

  Le module Button stylise les boutons. Il exite
  deux variantes : le bouton btn--plain et le btn--outline.


  Exemple de HTML :

    <button class="btn btn--outline" onclick="document.location = '<?php the_permalink(); ?>';">Mon Button</button>



.toolbar
  display: flex
  flex-direction: row

  input[list="statut"]
    width: $modulor*15
