// main: ../../../style.sass


.table
  width: 100%

  tr
    border-bottom: 1px solid rgba($color-principale, 0.15)
    cursor: pointer
    transition: all 0.5s

  tr:hover td
    background: white
    color: $color-accent
    transition: all 0.5s

  th, td
    text-align: left
    padding: $modulor 0

  th, .tablesorter-header-inner
    font-weight: 800
