// main: ../../../style.sass


.toolbar
  width: 100%

.toolbar__container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

  height: $header__height
  padding: 0 m(2)
  input[list="statut"]
    width: m(15)
