// main: ../../../style.sass

::selection
  background-color: color('dark',50,0.98) !important
  color: $papier

html
  overflow-y: scroll

body
  background: color('back')

html, body
  &.overflow--is--hidden
    overflow: hidden

main
  float: left
  width: 100%
  margin-top: $header__height
  padding-left: $header__height

svg
  fill: color('accent')
