// main: ../../../style.sass

::selection
  background-color: color('rouge', 80) !important
  color: color('rouge', 40)

html
  overflow-y: scroll

body
  background: color('backgroundColor')

html, body
  &.overflow--is--hidden
    overflow: hidden

main
  float: left
  width: 100%
  margin-top: $header__height
  padding-left: $header__height

svg
  fill: color('texte')
