// main: ../../../style.sass

/// Le fichier Colors stylises les couleurs utilisé par Monobloc.
/// La fonction accepte 2 paramètres : Le nom de la couleur, sa déclinaison.
/// Un troisième peut-être ajouter pour renseigner l'opatité.

/// Ajout du nombre de déclinaison pour chaque couleur.
///
/// 0..100..200..300..400..500..600..700..800..900..1000
/// ↑                       ↑                         ↑
/// 0=grey-0          500=couleur pure          1000=grey-1000

/// Exemple de SASS :
///   div
///     background: color('txt')
///     color: color('back', 700, 0.5)

$declinaisons: 0, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950, 980, 1000

/// Blanc & Noir de NadineCorp©
/// ATTENTION : gardez la saturation à 100%
/// pour avoir des couleurs lumineuses

$grey-1000: hsl(0, 0%, 11%)
$grey-0: hsl(47, 15%, 88%)

/// Palette NadineCorp©

$rouge-trash: hsl(0, 100%, 61%)
$colorTheme: ('rouge': $rouge-trash)

/// Ajout du nuancier Dark mode

\:root
  @include getThemeColor($colorTheme)

html
  @include setColor('txt', 'grey', 1000)
  @include setColor('back', 'grey', 0)
  @include setColor('lgt', 'grey', 700)
  @include setColor('acc', 'grey', 1000)
  @include setColor('drk', 'grey', 500)
  @include setColor('blk', 'grey', 100)
  @include setColor('doom', 'grey', 50)
  @include setColor('btn-color-h', 'grey', 50)
  @include setColor('overlay', 'grey', 0, .95)
  @include setColor('coverBackgroundColor', 'grey', 100)
  @include setColor('breadcrumbBackgroundColor', 'rouge', 900)
  @include setColor('border-color', 'grey', 300)
  --color-rgb-shadow-50: 13, 13, 13

// Ajout du thème coloré : .__Dark-mode

@media (prefers-color-scheme: dark)
  html
    @include setColor('txt', 'rouge', 500)
    @include setColor('back', 'grey', 1000)
    @include setColor('lgt', 'rouge', 700)
    @include setColor('acc', 'rouge', 500)
    @include setColor('drk', 'rouge', 800)
    @include setColor('blk', 'rouge', 900)
    @include setColor('doom', 'rouge', 980)
    @include setColor('btn-color-h', 'rouge', 500)
    @include setColor('overlay', 'grey', 1000, .95)
    @include setColor('coverBackgroundColor', 'rouge', 500)
    @include setColor('breadcrumbBackgroundColor', 'rouge', 900)
    @include setColor('border-color', 'rouge', 500)
    --color-rgb-shadow-50: 13, 13, 13