// main: ../../../style.sass

$modulor: 16px
$header_barre-height: $modulor*5

::selection
  background-color: rgba(0, 0, 0, 0.99) !important
  color: #f2f2f2 !important


  // Ajout du Redaction

@font-face
  font-family: 'Redaction'
  src: url('./assets/webfont/ledaction/Redaction_35-Regular.woff2') format("woff2")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'Redaction'
  src: url('./assets/webfont/redaction/Redaction_35-Bold.woff2') format("woff2")
  font-weight: 600
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'Redaction'
  src: url('./assets/webfont/redaction/Redaction_35-Italic.woff2') format("woff2")
  font-weight: 400
  font-style: italic
  font-stretch: normal


// Ajout du Nimbus

@font-face
  font-family: 'NimbusSans'
  src: url('./assets/webfont/nimbus/NimbusSanL-Regu.ttf') format("truetype")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'NimbusSans'
  src: url('./assets/webfont/nimbus/NimbusSanL-ReguItal.ttf') format("truetype")
  font-weight: 400
  font-style: italic
  font-stretch: normal

@font-face
  font-family: 'NimbusSans'
  src: url('./assets/webfont/nimbus/NimbusSanL-Bold.ttf') format("truetype")
  font-weight: 600
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'NimbusSans'
  src: url('./assets/webfont/nimbus/NimbusSanL-BoldItal.ttf') format("truetype")
  font-weight: 600
  font-style: italic
  font-stretch: normal
