// main: ../../../style.sass

$modulor: 16px
$header_barre-height: $modulor*5

::selection
  background-color: rgba(0, 0, 0, 0.99) !important
  color: #f2f2f2 !important

@font-face
  font-family: 'Redaction'
  src: url('./assets/webfont/Redaction_35-Regular.woff2') format("woff2")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'Redaction'
  src: url('./assets/webfont/Redaction_35-Bold.woff2') format("woff2")
  font-weight: 600
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'Redaction'
  src: url('./assets/webfont/Redaction_35-Italic.woff2') format("woff2")
  font-weight: 400
  font-style: italic
  font-stretch: normal
