// main: ../../../style.sass

  Le fichier Z-Index rassemble les différents niveaux de Z-Index de Nadine.


$zindex__top:              1000
$zindex__modal:            900
$zindex__navbar:           800
$zindex__overlay:          700
$zindex__breadcrumb:       600
$zindex__mainbar:          500

// Zindex Negatif

$zindex__nega:            -1
