// main: ../../../style.sass

/// Le fichier Z-Index rassemble les différents niveaux
/// de Z-Index utilisé par Nadine.

$zindex__top: 1100
$zindex__modal: 1000
$zindex__navbar: 900
$zindex__volet: 800
$zindex__overlay: 700
$zindex__breadcrumb: 600
$zindex__mainbar: 500
