// main: ../../../style.sass

  Le fichier Z-Index rassemble les différents niveaux de Z-Index de Monobloc.


$zindex__is--noisy:        1400
$zindex__top:              1300
$zindex__modal:            1200
$zindex__lightbox:         1100
$zindex__tooltip:          1000
$zindex__header:           900
$zindex__nav-menu:         800
$zindex__volet:            700
$zindex__menu:             600
$zindex__rgpd:             500
$zindex__overlay:          400

// Zindex Negatif

$zindex__nega:            -1
$zindex__footer-hide:     -10
