.l-footer,
.l-header,
.l-msg-smartphone,
input[type="submit"],
.toolbar,
.btn{
  display: none;
}
main, html, body,
.paper,
.row,
.l12{
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
.paper__content{
  position: relative;
  padding: 0;
}
.paper table{
  width: 100%;
  display: table !important;
}
.paper tr{
  display: table-row !important;
}
.paper th,
.paper td{
  display: table-cell !important;
}
