/*
// Ce fichier permet d'optimiser la mise en page
// des factures ou devis lorsque l'utilisateur
// tente de l'imprimer
*/

.l-footer,
.l-header,
.m-aside,
.m-volet,
.m-breadcrumb {
  display: none;
}

main,
html,
body,
.paper,
.m-rom,
.l-facture .with--aside {
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.paper__content {
  position: relative;
  padding: 0;
}

.paper table {
  width: 100%;
  display: table !important;
}

.paper tr {
  display: table-row !important;
}

.paper th,
.paper td {
  display: table-cell !important;
}