// main: ../../../style.sass


.l_facture
  margin-top: m(5)
  .form__input-container
    border: none

.paper
  position: relative
  width: 800px
  margin: 0 auto 50px auto
  padding-top: 1130px
  background: white
  border-radius: 10px
  @include box-shadow(100, 'principale', 70)
  page-break-after: always
  page-break-before: always

.paper__content
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden
  padding: 30px
