// main: ../../../style.sass

.l-header
  display: flex
  flex-direction: row
  position: fixed
  top: 0
  width: 100%
  height: $header_barre-height
  padding: 0 48px
  background: $color-accent
  z-index: 10

  .menu
    position: absolute
    top: 70px
    right: 48px

.l-header__logo
  float: left

  a
    line-height: 80px
    &:hover
     color: $color-secondaire

.l-header__bar
  flex-grow: 1
  height: $header_barre-height - $modulor*2
  margin: $modulor $modulor*2
  input
    width: 100%
    height: $header_barre-height - $modulor*2
    color: $color-secondaire
    padding: 0 $modulor
    border-radius: $modulor
    background: $color-principale
    transition: all 2s
    &:focus
      @include box-shadow(5, $color-principale)
      padding: 0 $modulor*1.5
      border-radius: $modulor*3
      background: darken($color-principale, 10)
      transition: all .5s

.l-header__nav
  float: right

.nav__main
  display: flex
  flex-direction: row
  float: right

  li
    display: flex
    flex-direction: row
    align-items: center
    height: $header_barre-height
    margin: 0 $modulor*2
    border-bottom: 4px solid $color-accent
    transition: border 0.4s

  li.current-menu-item,
  li:hover
    border-bottom: 4px solid white
    transition: border 0.4s

  a
    display: block
    line-height: $header_barre-height
    &:hover
      text-decoration: none
      color: $color-secondaire
      transition: color 0.4s

.btn__menu-more-vert
  float: right
  padding-top: 27px
