// main: ../../../style.sass

.l-header
  display: flex
  flex-direction: row
  position: fixed
  top: 0
  width: 100%
  height: $header_barre-height
  padding: 0 $modulor*2
  background: var(--color-accent)
  z-index: 10

  .menu
    position: absolute
    top: 70px
    right: 48px

.l-header__logo svg
  height: $header_barre-height - $modulor*2


.l-header__bar
  flex-grow: 1
  height: $header_barre-height - $modulor*2
  margin: $modulor $modulor*2
  input
    width: 100%
    height: $header_barre-height - $modulor*2
    font-family: "Redaction", serif
    font-style: italic
    color: var(--color-secondaire)
    padding: 0 $modulor
    border-radius: $modulor
    background: var(--color-principale)
    transition: all 2s
    &:focus
      @include box-shadow(5, $gris-dark)
      padding: 0 $modulor*1.5
      border-radius: $modulor*3
      transition: all .5s

.l-header__nav
  float: right

.nav__main
  display: flex
  flex-direction: row
  float: right

  li
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    height: $header_barre-height
    margin: 0 $modulor*2
    border-bottom: 4px solid var(--color-accent)
    transition: border 0.4s

  li:hover
    border-bottom: 4px solid white
    transition: border 0.4s

  a
    display: block
    line-height: $header_barre-height
    &:hover
      text-decoration: none
      color: var(--color-secondaire)
      transition: color 0.4s

  a.is--current::after
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: url('assets/img/page--is--current.svg')
    background-position: center center
    background-repeat: no-repeat
    background-size: contain
    z-index: -1

.btn__menu-more-vert
  float: right
  padding-top: 27px

.l-header__btn-color
  align-self: center
  width: $modulor*2 - 6px
  height: $modulor*2 - 6px
  margin-left: $modulor
  border: 3px solid
  border-radius: $modulor
  cursor: pointer

  &::before
    content: ""
    display: block
    width: $modulor*2 - 20px
    height: $modulor*2 - 20px
    border-radius: $modulor
    border: 4px solid var(--color-secondaire)
